@import './variables';

@mixin heading($fontWeight:500, $lineHeight:40px, $fontSize: 1.875rem) {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-size: $fontSize;
}

@mixin border {
  border-left: $border;
  border-right: $border;
}

@mixin w-m-p {
  width: 90%;
  margin: 0 auto;
  padding: max(20px, 1vw);
}

@mixin looksLikeTable {
  width: 80%;
  margin: min(20px, 1vw) auto max(20px, 2vw) auto;
  border: 1px solid $border-color;
  border-bottom: none;
}

@mixin shadowOnHover {
  -webkit-box-shadow: 7px 13px 9px 3px rgba(4, 4, 4, 0.36);
  -moz-box-shadow: 7px 13px 9px 3px rgba(4, 4, 4, 0.36);
  box-shadow: 7px 13px 9px 3px rgba(4, 4, 4, 0.36);
  transition: all 0.2s ease-out;
}